// Colors
$black-primary: #060a24;
$blue-primary: #0000ff;
$blue-secondary: #0000A3;
$green-primary: #00F3BB;
$white-background: #ffffff;

// Fonts
$font-sans: 'IBM Plex Sans', sans-serif;
$font-serif: 'IBM Plex Serif', serif;
$font-mono: 'IBM Plex Mono', monospace;
$font-condensed: 'IBM Plex Sans Condensed', sans-serif;

// Breakpoints
$breakpoint-lg: 1000px;