@import "./_placeholders.scss";

* {
  color: $black-primary;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.nav-menu {
  background-color: $white-background;
  display: block;
  font-size: 16px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav-menu__logo {
  height: 24px;
  margin-left: 16px;
  margin-top: 10px;
  position: absolute;
  width: 24px;
}

#nav-menu__burger-icon {
  background-color: $white-background;
  cursor: pointer;
  float: right;
  line-height: 44px;
  padding-right: 16px;  
}

#nav-menu__close-icon {
  cursor: pointer;
  display: none;
  float: right;
  line-height: 44px;
  padding-right: 16px;  
  position: relative;
}

#nav-menu__hide-checkbox {
  display: none;
  &:checked ~ #nav-menu__burger-icon {
    display: none;
  }
  &:checked ~ #nav-menu__close-icon {
    display: block;
  }
  &:checked ~ .nav-menu__links-container {
    display: block;
  }
}

.nav-menu__links-container {
  background-color: $blue-primary;
  display: none;
  height: 224px;
  list-style: none;
  margin: 0;
  padding-left: 0px;
  position: relative;
  top: 44px;
  li a {
    color: $white-background;
    display: block;
    font-family: $font-mono;
    padding: 18px;
    text-decoration: none;
      &:hover { 
        color: $black-primary;
      }
  }
}

#episodes, #origins, #guests, #topics {
  &:before {
    content: " ";
    display: block;
    height: 300px;
    margin-top: -300px;
    visibility: hidden;
  }
}

.main__h1-headline {
  @include h1-main-headline();
  font-size: 36px;
  margin-left: 16px;
  margin-top: 65px;
  width: 235px;
  .main__h1-headline-world {
    text-decoration: line-through;
  }
  .main__h1-headline-dot {
    color:$blue-primary;
  }
}

.podcast__paragraph {
  @include main-paragraph();
  font-size: 14px;
  margin-bottom: 40px;
  margin-left: 16px;
}
  
.podcast__button {
  @include main-button();
  height: 48px;
  font-size: 16px;
  margin-left: auto;
  width: 288px;
}
    
.episodes__container {
  position: relative;
}

.podcast__skewed-rectangle {
  @include skewed-rectangle();
  height: 1215px;
}

.podcast__h2-white-headline {
  @include h2-white-headline();
  font-size: 36px;
  margin-bottom: 60px;
  margin-left: 16px;
  top: 40px;
}

.episodes__podcasts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  iframe {
    margin: 6px 6px;
    width: 298px;
    z-index: 10;
  }
}

.origins__phone-image {
  margin-top: 48px;
  position: relative;
  width: 320px;
  z-index: 10;
}

.podcast__h2-black-headline--origins {
  @include h2-black-headline();
  font-size: 36px;
  margin-left: 16px;
  width: 200px;
}

.podcast__paragraph--origins-first {
  @include main-paragraph();
  margin-left: 16px;
  margin-right: 16px;
}

.podcast__paragraph--origins-second {
  @include main-paragraph();
  margin-left: 16px;
  margin-right: 16px;
}

.guests__photo {
  display: block; 
  width: 100%;
}

.podcast__h2-black-headline {
  @include h2-black-headline();
  font-size: 36px;
  margin-top: 40px;
}

.features__container {
  align-content: flex-end;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  h3 {
    font-family: $font-sans;
    font-size: 24px;
    font-weight: 700;
  }
}

.features__items {
  height: 230px;
  margin: 15px;
  text-align: center;
  width: 250px;
}

.features__items--last-item {
  height: 190px;
}

.news__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: center;
  .podcast__h2-white-headline {
    margin-top: 25px;
    width: 220px;
  }
  .podcast__button {
    margin-bottom: 90px;
    margin-top: 20px;
  }
}

.podcast__clip-path-trapezoid {
  @include clip-path-trapezoid();
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
}

.podcast__h2-white-headline {
  @include h2-white-headline();
  font-size: 36px;
  margin-left: 16px;
}


.footer__container {
  background-color: $white-background;
  display: flex;
  flex-direction: column;
  height: 121px;
  justify-content: center;
  position: relative;
}

.footer__copyright {  
  font-family: $font-mono;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.footer__social-media-icons {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 300px;
    :hover i {
      color: $blue-primary;
    }
}

// 1000px BREAKPOINT

@media screen and (min-width: $breakpoint-lg) {

  #nav-menu__burger-icon {
    display: none;
  }

  .nav-menu__links-container {
    background-color: $white-background;
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: flex-end;
    margin-right: 100px;
    top: 0px;
  }
  
  .nav-menu__logo {
    height: 36px;
    margin-left: 100px;
    margin-top:22px;
    width: 36px;
    z-index: 10;
  }

  .nav-menu__links-container li a {
    color: $black-primary;
    display: block;
    font-family: $font-mono;
    padding: 0px 20px 0px;
    text-decoration: none;
    &:hover { 
      color: $green-primary;
      text-decoration: line-through;
    }
    &:active { 
      color: $black-primary;
      text-decoration: line-through;
    }
  }

  #episodes, #origins, #guests, #topics {
    &:before {
      content: " ";
      display: block;
      height: 70px;
      margin-top: -70px;
      visibility: hidden;
    }
  }

  .main__h1-headline {
    @include h1-main-headline();
    font-size: 64px;
    margin-left: 200px;
    margin-top: 200px;
    width: 800px;
  }

  .podcast__paragraph {
    @include main-paragraph();
    font-size: 16px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-top: 0;
    width: 628px;
  }

  .podcast__button {
    @include main-button();
    font-size: 18px;
    height: 56px;
    margin-bottom: 40px;
    margin-left: 200px;
    width: 226px;
  }

  .episodes__podcasts iframe {
    margin: 70px 30px 0px;
    width: 584px;
  }

  .podcast__h2-white-headline {
    @include h2-white-headline();
    font-size: 48px;
    margin-bottom: 60px;
    margin-left: 200px;
    top: 100px;
  }

  .podcast__skewed-rectangle {
    @include skewed-rectangle();
    height: 875px;
  }

  .origins__container {
    display: grid;
    grid-template-columns: 390px 70px 464px;
    grid-template-rows: 190px 90px 110px 300px;
    justify-content: center;
    margin-top: 64px;
  }

  .origins__phone-image {
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-start: 1;
    margin-top: 0;
    width: 390px;
  }

  .podcast__h2-black-headline {
    @include h2-black-headline();
    font-size: 48px;
    margin-bottom: 36px;
    margin-left: 200px;
  }

  .podcast__h2-black-headline--origins {
    @include h2-black-headline();
    grid-column-end: 4;
    grid-column-start: 3;
    grid-row-start: 2;
    margin: 0;
    text-align: left;
    width: 464px;
  }

  .podcast__paragraph--origins-first {
    @include main-paragraph();
    grid-column-end: 4;
    grid-column-start: 3;
    grid-row-start: 3;
    margin: 0;
    width: 464px;
  }

  .podcast__paragraph--origins-second {
    @include main-paragraph();
    grid-column-end: 4;
    grid-column-start: 3;
    grid-row-start: 4;
    margin: 0;
    width: 464px;
  }

  .guests__images-container {
    display: flex;
    flex-wrap: wrap;
    img {
      width: 33.33%;
    }
  }

  .features__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
    .features__items {
      height: 220px;
      margin: 20px;
      text-align: center;
      width: 230px;
    }
  }

  .news__container {
    display: flex;
    flex-direction: column;
    position: relative;
    .podcast__h2-white-headline {
      margin-left: 0;
      width: 1000px;
    }
    .podcast__button {
      margin: 90px 0px 180px;
      width: 345px;
    }
  }

  .podcast__clip-path-trapezoid {
    @include clip-path-trapezoid();
    clip-path: polygon(0 22%, 100% 0, 100% 100%, 0% 100%);
  }

  .footer__container {
    align-items: center;
    display: grid;
    grid-template-columns: 270px 650px 300px;
    grid-template-rows: 95px;
    height: 95px;
  }

  .footer__copyright {  
    font-size: 16px;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .footer__social-media-icons {
    font-size: 18px;
    grid-column-end: 4;
    grid-column-start: 3;
    grid-row-start: 1;
    margin: 0;
  }
}